.signup {
	text-align:center;
	font-family: 'Slabo 27px', serif;
}

.stack {
	display:block;
	margin:0 auto;
	font-family: 'Slabo 27px', serif;

}

.signup-header {
	font-size: 34px;
}

.submit-form{
	height:50px;
	width:100px;
	border-radius:15px;
	background-color: white;
	margin-top: 15px;
}