<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Kidlit</title>
	</head>
<div class="signup">
	<h2 class="signup-header">register here</h2>
	<form method="post" action="/signup">
		email<input class="stack" type="text" name="email">
		password<input class="stack"type="text" name="password">
		<button  class="submit-form" type="submit" value="signup">signup</button>
	</form>
</div>